.container {
  width: 800px;
}

.appt-container {
  width: 320px;
  z-index: 300;
}

.isMobile {
  flex-direction: column;
  width: 100%;
}

.isMobile .right-side {
  margin-top: 30px;
  width: 100%;
}

.isMobile .right-side .right-side-container {
  width: 100%;
  z-index: 600;
}

button.isMobileStaff {
  width: 100%;
}
