<AnimatedTools />

<header class="flex items-baseline justify-between px-6 py-4 bg-white border-b">
  <h1 class="text-xl font-bold">All Anime</h1>
  <nav class="flex flex-col mr-4 sm:flex-row">
    <LinkTo
      class="text-orange-900 sm:ml-6"
      @route="group"
    >
      Group
    </LinkTo>
    <LinkTo
      class="text-orange-900 sm:ml-6"
      @route="staff"
    >
      Multi
    </LinkTo>
    <LinkTo
      class="text-orange-900 sm:ml-6"
      @route="single"
    >
      Single
    </LinkTo>
  </nav>
</header>

<main class="w-full h-full p-6 bg-gray-100">
  {{outlet}}
</main>